<!-- Start Signup Section -->
<section id="signup" class="py-5">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <img class="img-fluid" src="../../../assets/img/password.png" alt="signup">
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2 class="text-center">Reset Password</h2>
                    <p>Submit your email address and we will send you a link to reset your account password</p>
                    <!-- Start Form -->
                    <form [formGroup]="login" (ngSubmit)="loginData(login)">
                        <!-- Start Stepper -->
                        <!-- Start Fist Step -->
                        <div class="row">
                            <!-- Email -->
                            <div class="col-12 mt-3">
                                <div class="row align-items-center">
                                    <div class="col-1">
                                        <i class="fas fa-envelope"></i>
                                    </div>
                                    <div class="col-11">
                                        <mat-form-field>
                                            <input matInput placeholder="Email" formControlName="email">
                                        </mat-form-field>
                                        <mat-hint class="alert alert-danger d-block" *ngIf="login.controls.email.Invalid && login.controls.email.errors?.required">
                                            This field is required</mat-hint>
                                        <mat-hint class="alert alert-danger d-block" *ngIf="login.controls.email.dirty && login.controls.email.errors?.pattern">
                                            Invalid Email</mat-hint>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <button class="my-4" mat-button type="submit" [disabled]="!login.valid">Send Email</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>