@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
h2 {
    @include typoStyle($openBold, 1.5rem, 900);
    color: $primary-color;
}

p {
    color: #707070;
    @include typoStyle($openRegualr, 1rem, 500);
    margin-top: 30px;
}

i {
    color: $icon-color;
    font-size: 1.5rem;
}