      //vendors
      $vendors: "-webkit",
      "-moz-",
      "-o-",
      "";
      //layout
      $auto-margin: 0 auto;
      //colors & BGcolors
      $primary-color: #591AB4;
      $secondary-color: #28F29A;
      $icon-color: #35C6BC;
      $priper: #9B65EA;
      $grey: #707070;
      $black: #000;
      $milk: #FAFAFA;
      $white: #FFF;
      //fonts
      $open: "Open Sans";
      //imgs Sources
      $openBold: "./assets/fonts/OpenSans-Bold.ttf";
      $openSemiBold: "./assets/fonts/OpenSans-SemiBold.ttf";
      $openRegualr: "./assets/fonts/OpenSans-Regular.ttf";
      $openExtraBold: "./assets/fonts/OpenSans-ExtraBold.ttf";