<!-- Start Signup Section -->
<section id="signup" class="py-5">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <img class="img-fluid" src="../../../assets/img/signin.png" alt="signup">
                </div>
                <div class="col-md-6 col-xs-12">
                    <h2 class="text-center">Sign In Now</h2>
                    <p>An email with reset password link has been sent to email you've entered </p>
                    <p>Didn''t recieve the email ?</p>
                    <a class="mt-5" [routerLink]="['/sendPassword']">Try Again</a>
                </div>
            </div>
        </div>
    </div>
</section>x