<div class="container">
    <div class="container-fluid">
        <section class="card-style padding mb-5">
            <h4>Your past requests:</h4>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/rev-1.png" class="card-img img-rate" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <h5 class="card-title">Esmail Ali</h5>
                                <div class="yellow">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                            </div>
                            <div class="row">
                                <p class="card-text col-md-3">From: <span class="text-muted"> 15/7/2019 </span></p>
                                <p class="card-text col-md-3">To: <span class="text-muted">16/7/2019</span> </p>
                                <p class="card-text col-md-3">Hrs/day: <span class="text-muted">6 hrs</span> </p>
                                <p class="card-text col-md-3">Paid money: <span class="text-muted">150 $</span></p>
                            </div>
                            <p class="card-text font-med text-muted">"Good services has saved my life lots of times already! We were in a rush to find a babysitter."</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card-style padding mb-5">
            <h4>Waiting for response:</h4>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/profile-2.png" class="card-img img-rate" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title row justify-content-between">Salma Ayman</h5>
                            <div class="row">
                                <p class="card-text col-md-3">From: <span class="text-muted"> 15/7/2019 </span></p>
                                <p class="card-text col-md-3">To: <span class="text-muted">16/7/2019</span> </p>
                                <p class="card-text col-md-3">Hrs/day: <span class="text-muted">6 hrs</span> </p>
                                <p class="card-text col-md-3">Salary: <span class="text-muted">150 $</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="card-style padding mb-5">
            <h4>Accepted requests:</h4>
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-2 d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/rev-2.png" class="card-img img-rate" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title row justify-content-between">Donia Samir</h5>
                            <div class="row">
                                <p class="card-text col-md-3">From: <span class="text-muted"> 15/7/2019 </span></p>
                                <p class="card-text col-md-3">To: <span class="text-muted">16/7/2019</span> </p>
                                <p class="card-text col-md-3">Hrs/day: <span class="text-muted">6 hrs</span> </p>
                                <p class="card-text col-md-3">Salary: <span class="text-muted">150 $</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>