<div class="card p-4 mt-3">
    <h4 class="my-4">My Bio :</h4>
    <p>My name is {{user.name}} and I love kids, I'm First Aid certified. I also have my own transportation that can fit up to 4 kids safely and a clean driving record. I can do pickups and drop offs. feel free to order me anytime.</p>
</div>
<div class="card p-4 my-3">
    <div class="row align-items-baseline">
        <div class="col-2">
            <h4 class="my-4">Name :</h4>
        </div>
        <div class="col-10">
            <p>{{user.name}}</p>
        </div>
        <div class="col-2">
            <h4 class="my-4">Email :</h4>
        </div>
        <div class="col-10">
            <p>{{user.email}}</p>
        </div>
        <div class="col-2">
            <h4 class="my-4">Phone :</h4>
        </div>
        <div class="col-10">
            <p>{{user.phone}}</p>
        </div>
        <div class="col-2">
            <h4 class="my-4">Age :</h4>
        </div>
        <div class="col-10">
            <p>25 years</p>
        </div>
        <div class="col-2">
            <h4 class="my-4">Gender :</h4>
        </div>
        <div class="col-10">
            <p>Male</p>
        </div>
        <div class="col-2">
            <h4 class="my-4">Education :</h4>
        </div>
        <div class="col-10">
            <p>B.S. of Fine Arts</p>
        </div>
    </div>
</div>