<div class="container">
    <div class="container-fluid">
        <section id="about" class="p-5 mt-3">
            <div class="row">
                <div class="col-6">
                    <div class="py-3">
                        <h3 class="title mb-3">About GALEES</h3>
                        <p>GALEES is a service that helps you to find and order a babysitter for your children or elderly sitter for old people. You can search for a babysitter with all requirements that fit your needs by filtering profiles, get in contact
                            and plan an appointment. Find a job as a sitter by creating a profile with your experience, specialties and contact info.</p>
                    </div>
                    <div class="py-3">
                        <h3 class="title mb-3">Our Vision</h3>
                        <p>To connect businesses with great talent to work without limits.</p>
                    </div>
                    <div class="py-3">
                        <h3 class="title mb-3">Our Mission</h3>
                        <p>To create economic opportunities so people have better lives.</p>
                    </div>
                    <div class="py-3">
                        <h3 class="title mb-3">Our Value</h3>
                        <p>Put our community first. Inspire a boundless future of work.</p>
                    </div>
                </div>
                <div class="col-6">
                    <img src="../../../assets/img/aboutimg.png" class="img-fluid">
                </div>
            </div>
        </section>
    </div>
</div>