<section id="reviews" class="mt-3">
    <div class="card p-4" *ngFor="let review of reviews">
        <div class="media my-3">
            <img [attr.src]="'http://localhost:8000/get-img/'+review.personalPic" class="mr-3">
            <div class="media-body">
                <h5 class="mt-0">{{review.name}}</h5>
                 <div><span *ngFor="let number of [1,2,3,4,5]"><i class="fas fa-star"
                                                        *ngIf="number <= review.rate"></i><i class="far fa-star"
                                                        *ngIf="number > review.rate"></i></span>
                                </div>
                <p class="mb-0">{{review.review}}</p>
            </div>
        </div>
        <hr>
    </div>
</section>