<div class="container">
    <div class="container-fluid">
        <section id="terms" class="p-4">
            <div class="py-3">
                <h3 class="title">Welcome to Galees!</h3>
                <p>Thanks for using our services. The Services are provided by Galees, located at Alexandria Egypt. By using our Services, you are agreeing to these terms. Please read them carefully.</p>
            </div>
            <div class="py-3">
                <h3 class="title">Terms of service</h3>
                <p>Terms of service (also known as terms of use and terms and conditions) are rules by which one must agree to abide in order to use a service.
                </p>
                <div class="media py-3">
                    <i class="fas fa-grip-lines-vertical mx-3" style="font-size: 1.8rem"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Connect you with sitters that'll take care of you:</h5>
                        We help you find and connect with sitters. We use the data that you choose to make suggestions for you and others.
                    </div>
                </div>
                <div class="media py-3">
                    <i class="fas fa-grip-lines-vertical mx-3" style="font-size: 1.8rem"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Provide a personalized experience for you:</h5>
                        Your experience on Galees is unlike anyone else's from content you see in News Feed or our platform to the Pages and features you might use, and search. We use the data we have for example, about the connections you make, the choices and settings you
                        select - to personalize your experience.
                    </div>
                </div>
                <div class="media py-3">
                    <i class="fas fa-grip-lines-vertical mx-3" style="font-size: 1.8rem"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Combat harmful conduct and protect and support our community:</h5>
                        People will only build community on Galees if they feel safe. We employ dedicated teams around the world and develop advanced technical systems to detect misuse of our Products, harmful conduct towards others, and situations where we may be able to help
                        support or protect our community.
                    </div>
                </div>
                <div class="media py-3">
                    <i class="fas fa-grip-lines-vertical mx-3" style="font-size: 1.8rem"></i>
                    <div class="media-body">
                        <h5 class="mt-0">Empower you to express yourself and communicate about what matters to you:</h5>
                        There are many ways to express yourself on Galees and to communicate with friends, family, and others. and share more expressive and engaging content on Galees.
                    </div>
                </div>
            </div>
            <div class="py-3">
                <h3 class="title">Our Data Policy</h3>
                <p>To provide our services, we must collect and use your personal data. We detail our practices in the Data Policy, which you must agree to in order to use our service. We also encourage you to review the privacy choices you have in your
                    settings.
                </p>
            </div>
        </section>
    </div>
</div>