<footer class="py-5 text-center">
    <div class="container">
        <div class="container-fluid">
            <img class="img-fluid" src="../../../assets/img/logo footer.svg" alt="logo">
            <div class="row my-4">
                <div class="col-20">
                    <a [routerLink]="['about']">About Us</a>
                </div>
                <div class="col-20">
                    <a [routerLink]="['findBabySitter']">Profiles</a>
                </div>
                <div class="col-20">
                    <a [routerLink]="['terms']">Trust & Safety</a>
                </div>
                <div class="col-20">
                    <a [routerLink]="['career']">Careers</a>
                </div>
                <div class="col-20">
                    <a [routerLink]="['contact-us']">Contact Us</a>
                </div>
            </div>
            <div class="social-media d-flex justify-content-center">
                <div class="link">
                    <i class="fab fa-facebook-f"></i>
                </div>
                <div class="link mx-3">
                    <i class="fab fa-linkedin-in"></i>
                </div>
                <div class="link">
                    <i class="fab fa-instagram"></i>
                </div>
                <div class="link mx-3">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="link">
                    <i class="fab fa-behance"></i>
                </div>
            </div>
            <hr>
            <p>Made by GALEES , Copy Rights are Reserved &copy; 2019</p>
        </div>
    </div>
</footer>