@import '../../assets/scss/variables';
@import '../../assets//scss/mixins';
.password-submit {
    @include typoStyle($openBold, 1rem, 900);
    color: $primary-color;
    margin: 30px 0;
    .sectionHeader {
        @include typoStyle($openBold, 1rem, 900);
    }
    button {
        @extend %primary-btn;
        outline: 0;
        border: 0;
        font-size: .9rem;
        font-weight: normal;
        margin-top: 30px;
    }
    p {
        color: #707070;
        @include typoStyle($openRegualr, 1rem, 500);
    }
}